<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Air Quality Index</title>
</head>
<body>
<nav class="navbar navbar-inverse" style="border-radius: 0px;" >
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Air Quality</a>
        </div>
        <a href="https://github.com/kgogoi/" class="navbar-brand navbar-right" alt="Go to LinkedIn Profile"><button class="btn btn-default">Linked In</button</a>
    </div>
</nav>
    