<% include partials/header %>
    <div class="container">
        <div class="row text-center">
            <h1 >Search by City</h1>
            <div style="width: 30%; margin: 25px auto;">
                <form action="/results" method="GET">
                    <div class="form-group">
                        <input class="form-control" type="text" name="cityname" placeholder="City Name">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="countryname" placeholder="Country Name">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Submit</button>
                    </div>
                </form>
            </div>
        </div>    
    </div>
<% include partials/footer %>
